[Unit]
Description=Chess Stats Backend
After=network.target

[Service]
User=azureuser
WorkingDirectory=/home/azureuser/Chess/backend
ExecStart=/home/azureuser/Chess/backend/start_prod.sh
Restart=always

[Install]
WantedBy=multi-user.target
